*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #fcfcfc;
  padding: 0 400px;
}

input.error{
  border: 1px red solid;
}

@media screen and (max-width: 1600px) {
  body{
    padding: 0 300px;
  }
}

@media screen and (max-width: 1400px) {
  body{
    padding: 0 200px;
  }
}

@media screen and (max-width: 1200px) {
  body{
    padding: 0 100px;
  }
}

@media screen and (max-width: 1000px) {
  body{
    padding: 0;
  }
}